*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

  body{background-color: #e7e7e7;}



.headtitle{display: inline-block;
            padding-left: 10px;
            width: 100%;
            height: auto;
            background-color: white;}
           

#title{ font-size: 30px;
        font-weight: bold;
        padding-left: 5px;
        vertical-align: 50%;}



#task{
    color:white;
    background-color:#008cffa8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
}


#section {
    color:grey;
    background-color: transparent;
    padding: 4px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    
}

/* Bottoni */
.editorial{color:white;
    background-color:#008cffa8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}

.q1goals{color:white;
    background-color:#ff00eaa8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}

.recruting{color:white;
    background-color:#6000faa8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #00ff40;
    display: inline-block;}

.sales{color:white;
    background-color:#fbff00a8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}    

.website{color:white;
    background-color:#ff00eaa8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}

.recruting{color:white;
    background-color:#00ff9da8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}    

.mobile{color:white;
    background-color:#ff9100a8;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    display: inline-block;}



.main-list {
    width: 1000px;
    margin: 10px auto;
    background-color: white;
    border-radius: 3px;
   
    
    
}

.main-header {
    border-bottom: 2px solid hsl(0, 0%, 89%);
    padding: 15px 30px;
    margin: 30px auto;
}

.boxtask{
    margin: 30px;
    }

.textbox{display: inline-block;}    

.done{color: rgb(0, 255, 0);}
.notdone{color: red;}



